<div class="row">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">
      Seleccione Archivos
    </h3>
    
    <form appNgDropFiles class="well drop-zone" (mouseSobre)="estaSobreElemento = $event" [archivos]="archivos" [ngClass]="{'file-over': estaSobreElemento}" enctype="multipart/form-data">
      <input appNgDropFiles type="file" id="input-files" accept="image/*" multiple="multiple" required="required">
      <h4>
        Haz click para seleccionar tus imagenes o deja caer aquí los archivos.
      </h4>
      <img src="assets/images/drop-images.png" alt="Cargar Imágen" title="Cargar Imágen">
    </form>
  </div>
  
  <div class="col-md-12 mt-5">
    <h4 class="mb-3">
      Cargar Archivos
    </h4>

    <button type="button" class="btn btn-success mx-2" (click)="cargarImagenes()" [disabled]="archivos.length === 0">
      Cargar a firebase
    </button>

    <button type="button" class="btn btn-danger mx-2" (click)="limpiarArchivos()">
      Limpiar
    </button>

    <button type="button" disabled="disabled" class="btn btn-secondary mx-2">
      {{ archivos.length }}
    </button>

    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Tipo Archivo</th>
            <th>Tamaño</th>
            <th>Progreso</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let archivo of archivos">
            <td>
              <img [src]="archivo.urlPrevisualizacion" [alt]="archivo.nombreArchivo" [title]="archivo.nombreArchivo" width="100px">
            </td>
            
            <td>
              {{ archivo.nombreArchivo }}
            </td>

            <td>
              <input [(ngModel)]="archivo.title" #title="ngModel" [value]="archivo.title" placeholder="Título">
            </td>

            <td>
              <input [(ngModel)]="archivo.desc" #desc="ngModel" [value]="archivo.desc" placeholder="Descripción">
            </td>

            <td>
              <input [(ngModel)]="archivo.price" #price="ngModel" [value]="archivo.price" placeholder="Precio">
            </td>

            <td>
              {{ archivo.tipoArchivo }}
            </td>

            <td>
              {{ archivo.archivo.size / 1024 / 1024 | number: '.2-2' }}MB
            </td>
            
            <td>
              <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': archivo.progreso + '%' }" [ngClass]="{'bg-success': archivo.progreso >= 100}"></div>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>