<div class="row">
  <div class="col-md-4">
    <h3>
      Seleccione Archivos
    </h3>

    <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
      <h4>
        Deje caer aquí los archivos
      </h4>
      <img src="assets/images/drop-images.png" alt="Cargar Imágen" title="Cargar Imágen">
    </div>
  </div>
  
  <div class="col-md-8">
    <h4>
      Cargar Archivos
    </h4>

    <button type="button" class="btn btn-success mx-2" (click)="cargarImagenes()" [disabled]="archivos.length === 0">
      Cargar a firebase
    </button>

    <button type="button" class="btn btn-danger mx-2" (click)="limpiarArchivos()">
      Limpiar
    </button>

    <button type="button" disabled="disabled" class="btn btn-secondary mx-2">
      {{ archivos.length }}
    </button>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tipo Archivo</th>
          <th>Tamaño</th>
          <th>Progreso</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let archivo of archivos">
          <td>
            <img [src]="archivo.urlPrevisualizacion" [alt]="archivo.nombreArchivo" [title]="archivo.nombreArchivo" width="100px">
          </td>
          
          <td>
            {{ archivo.nombreArchivo }}
          </td>

          <td>
            <input [(ngModel)]="archivo.desc" #desc="ngModel" [value]="archivo.desc" placeholder="Descripción">
          </td>

          <td>
            {{ archivo.tipoArchivo }}
          </td>

          <td>
            {{ archivo.archivo.size / 1024 / 1024 | number: '.2-2' }}MB
          </td>
          
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': archivo.progreso + '%' }" [ngClass]="{'bg-success': archivo.progreso >= 100}"></div>
            </div>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>