
<div *ngIf="lengthItems !== 0">
  <h1 class="text-center">
    {{ lengthItems }} Imagenes
  </h1>

  <div class="card-columns mt-3">
    <div class="card" *ngFor="let item of items | async">
      <img noimage [src]="item.url" class="card-img-top" [alt]="item.desc" [title]="item.desc">
      <div class="card-body">
        <h5 class="card-title text-center">
          {{ item.desc ? item.desc : 'Sin Descripción' }}
        </h5>
      </div>
    </div>
  </div>
</div>

<div *ngIf="lengthItems == 0">
  <h1 class="text-center">
    No hay tarjetas
  </h1>

  <div class="mt-3 text-center">
    <a [routerLink]="['/carga']" class="btn btn-outline-primary">
      Crear tarjetas
    </a>
  </div>
</div>