.progress {
	background-color: #d6d6d6;
}

.main-container {
  margin-top: 40px;
}

.table { 
	margin-top: 30px;
}

.text-green { 
	color: #008000;
}

.bg-green {
	background-color: #008000;
}

.table thead th {
	vertical-align: middle;
	text-align: center;
}

.btn:focus {
	box-shadow: 0 0 0;
}

.shadow-xl {
	box-shadow: 0 20px 25px -5px rgba(0,0,0,0.3),
							0 10px 10px -5px rgba(0,0,0,0.1) !important;
}

.ctn-icons {
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 100%;
}

.ctn-icons i {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	padding: 10px;
}

.ctn-icons .icon-remove:before {
	display: block;
	transition: transform 0.3s ease-in-out;
}

.ctn-icons .icon-remove {
	transition: background-color 0.3s ease-in-out,
							box-shadow 0.3s ease-in-out;
}

.ctn-icons .icon-remove:hover:before,
.ctn-icons .icon-remove:focus:before,
.ctn-icons .icon-remove:active:before {
	transform: rotateY(360deg);
}

.ctn-icons .icon-remove:hover,
.ctn-icons .icon-remove:focus,
.ctn-icons .icon-remove:active {
	background-color: rgba(255, 46, 46, 0.6);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3),
							0 0 0 1px #ffffff inset;
}

.img-card {
	height: 275px; 
	object-fit: cover;
	width: 100%;
}

.label {
	align-items: center;
  border: 3px dashed #999999;
	border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  position: relative;
  text-align: center;
  transition: border-color 0.3s ease-in;
}

.label:hover,
.file-over { 
	border-color: #555555;
}

.label .title {
	color: #999999;
	font-size: 1.25rem;
	transition: color 0.3s ease-in;
}

.label img {
	opacity: 0.5;
	transition: filter 0.3s ease-in,
							opacity 0.3s ease-in;
}

.label:hover .title,
.label.file-over .title {
  color: #555555;
}

.label:hover img,
.label.file-over img {
	filter: drop-shadow(0 0 5px #707070);
	opacity: 1;
}

input[type=file] {
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	user-select: none;
	width: 100%;
}